body {
    align-content: center;
    text-align: center;
    font-family: Inter, sans-serif;
    line-height: 4vh;
}

#main {
    margin: 25px 3px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

#image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#title {
    max-width: 650px;
    text-align: left;
    margin: auto;
}
#wiki-info {
    font-style: italic;
    margin-left: 30px;
    text-align: left;
}

h1 {
    font-size: 40px;
}

#img-div {
    background: #fff;
    margin: -15px;
    padding: 50px;
    padding-bottom: 20px;
}

#img-caption {
    margin-top: 15px;
}

#tribute-info {
    font-weight: bold;
    margin: 65px auto;
    text-align: center;
    font-size: 20px;
    font-style: normal;
}

.wiki-link {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-style: normal;
}

li {
    margin: 15px;
}